<div class="border-bottom border-5">
    <div class="container">
        <nav>
            <a href="/" style="text-decoration: none;"><div class="logo"> Ninja<b>.</b></div></a>
            <ul class="naveItems">
                <li><a href="/">Home</a></li>
                <li><a href="/">about</a></li>
                <li><a href="/res">Query</a></li>
                <li><a href="/code">code/blog</a></li>
            </ul>
            <div class="links">
                <a href="https://www.linkedin.com/in/sanjay-bisu-21iitkgp"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/s_kambi_/?igshid=ZDdkNTZiNTM%3D"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/sanjay.bisu.39?mibextid=ZbWKwL"><i class="fab fa-facebook"></i></a>
            </div>
        </nav>
    </div>
</div>
