<nav>
    <a href="/" style="text-decoration: none;"><div class="logo"> Ninja<b>.</b></div></a>
    <ul class="naveItems">
        <li><a href="/">Home</a></li>
        <li><a href="/">about</a></li>
        <li><a href="/res">Query</a></li>
        <li><a href="/code">code/blog</a></li>
    </ul>
    <div class="links">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</nav>