@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container1{
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;    
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
b{
    font-size: 70px;
    color: #7f00ff;
}
.naveItems{
    display: flex;
}
.naveItems li{
    list-style: none;
    margin: 0 15px;
}
.naveItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing:3px;
    text-decoration: none;
    text-transform: capitalize;
}
.naveItems li:hover a,
.links a:hover{
    color: #7f00ff;
}
.links a{
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}
.cols{
    width: 40%;
    width: 50%;
}
.cols0{
    z-index: 5;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}
h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: #3d535f;
}
.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}
p{
    font-size: 1.2em;
    color: #3d535f;
}
.btns{
    width: 100%;
    position: relative;
    left: 150px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding:  8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);

}
button:hover{
    background-color: #7f00ff;
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;

}
.imgbox img{
    position: relative;
    /* height: 110vh; */
    height: 100%;
    width: calc(130%-80px);
    top: -100px;
    right: 50px;
    left: 50px;
    /* transform: rotateY(180deg); */
    animation: animateUser 4s linear infinite;
}
@keyframes animateUser{
    50%{
        left: 30px;
        top: -80px;

    }
}
.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    width: 160%;
    filter: saturate(200%);
    animation: animate 4s linear infinite;

}
@keyframes animate{
    50%{
        top: 48%;
        left: 52%;
        width: 155%;
    }
}



/********************** code  *****************************/
.response-container1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.response1{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

.question_name1 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}

.question1 {
	font-size: 18px;
	margin: 10px 0;
    white-space: pre-wrap;
}

.image1 {
	width: 300px;
	height: auto;
}

.code1 {
	background-color: #f2f2f2;
	padding: 10px;
	border: 1px solid #ddd;
	font-size: 14px;
	white-space: pre-wrap;
	text-align: left;
}



/* ******************* footer **************************/
footer{
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}

footer p{
    margin: 0;
    text-align: center;
}


